# deps
node_modules/
.pnp
.pnp.js

# build
.next/
out/
dist/
build/
tsconfig.tsbuildinfo

# env
.env
.env.local
.env.*.local

# vercel
.vercel

# misc
.DS_Store
*.pem

# backups one-off scripts
scripts/library-templates-backup-*.json
